._ {
  display: flex;
}
.label {
  display: block;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}
.labelNoIcon {
  margin-left: 0px;
}

.labelChecked {
  color: #459df5;
}
